/* live */

.livedeals{
    padding-top: 32px;
}
.title{

    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #000000;

}

.sub{

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #6D747A;
    padding-bottom: 24px;

}
