/* faq */

.faq{
    padding-top: 120px;
}
.title{

    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #283891;
}