
/* navbar */

.navbarBrand{
    margin-top: 16px;
}

.navLink,.navLink:disabled{
    padding-right: 32px;
    font-size: 16px;
    font-weight: 500;
    color: #6D747A;
}


.btnCustom{
    margin-left: 8 px;
    color: #E9EBF4;
    outline:none;

    position: relative;
    left:-128px;
    padding: 16px 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    animation-name: text-move;  animation-duration: 1s;  animation-timing-function: ease-out;  animation-iteration-count: infinite;
    
}

.animate{
    position: relative;
    color: #39B54A;
    padding: 16px 24px;  background-color: #39B54A;  z-index: 0;  animation-name: button-move;  animation-duration: 1s;  animation-timing-function: ease-out;  animation-iteration-count: infinite;
}

@keyframes button-move {
    10% {
        transform:translateX(5px);
     
   }
     20% {
      transform: translateX(-5px) }
    30%{
        transform:translateX(0px);
    }}


@keyframes text-move {
    10% {
        transform:translateX(2px);
     
   }
     20% {
      transform: translateX(-2px) }
    30%{
        transform:translateX(0px);
    }}